/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* # DEBUG */
.debug {
  background-color: brown;
  border: 2px dashed black;
  padding: 10px;
}
.debug .debug {
  background-color: yellow;
}

.debug .debug .debug {
  background-color: coral;
}

.debug .debug .debug .debug {
  background-color: pink;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

/* # HEADER */

.page-header {
  background-color: aquamarine;
  justify-content: center;
  display: flex;
}

.logo {
  height: 40px;
  width: 300px;
}
.link-item {
  display: inline-block;
}

.links {
  height: 40px;
  width: 300px;
}
.login {
  height: 40px;
  width: 300px;
}
.low-header {
  height: 250px;
  width: 1536px;
  background-color: blue;
  display: flex;
  align-items: center;
}

.q-rosa {
  height: 200px;
  width: 200px;
  background-color: rosybrown;
  display: flex;
  border: 2px dashed black;
  margin: 0px 308px;
  width: 902px;
}

/* # MAIN */



.rose-panel {
  background-color: bisque;
  height: 270px;
  width: 333px;
  border: 2px dashed black;
}

.blu-panel {
  background-color: blue;
  height: 270px;
  width: 700px;
  border: 2px dashed black;
}

.first-section {
  margin: 39px;
  display: flex;
  justify-content: center;
}

.second-section {
  background-color: grey;
  margin: 0px;
  display: flex;
  justify-content: center;
  padding: 0
  margin-top: 15px;
  padding-top: 15px;
    padding-bottom: 15px;
}

.third-section {
  margin: 39px;
  display: flex;
  justify-content: center;
}

.green-panel{ 
  height: 270px;
  width: 1033px;
  border: 2px dashed black;
  background-color: green;
}

.fourth-section{
  background-color: grey;
  display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;



     /* #FOOTER */
}
.top-footer{
  display: flex;
  justify-content: center;
  padding-top: 5px;
    padding-bottom: 15px;
    background-color: black;

}

.red-panel{
  background-color: red;
  height: 300px;
  width: 150px;
  border: 2px dashed black;

}
.acquamarine-panel{
  background-color: aquamarine;
  height: 300px;
  width: 150px;
  border: 2px dashed white;
}

.foot-footer{
  display: flex;
  justify-content: space-between;
  background-color: grey;
padding-top: 15px;}

.logo-2{
  height: 40px;
  width: 100px;
  background-color: rosybrown;
  border: 2px dashed black;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;


}

.bottone{
  height: 40px;
  width: 100px;
  border: 2px dashed black;
  background-color: rosybrown;
  display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}






.contenitor-tasti{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-left: 0px;
  border-left-width: 0px;
  margin-left: 380px;
  background-color: aquamarine;
  margin-right: 380px;
  
}

footer{
  background-color: black;
}


.line{

  width: 750px;
    height: 5px;
    background-color: white;
    
}

.low-footer{
  display: flex;

  justify-content: center;
}


